#
# Ignore vagrant-related files
#
.vagrant
Vagrantfile.1

# ignore kubeconfig fetched from the machine
ansible/k3s-kubeconfig

# ignore file containing a specific version
ansible/group_vars/all/awx_operator_version.yml
